{% extends "base.html" %}
{% load static %}

{% block title %}Chat{% endblock title %}

{% block content %}
	<div class="row d-flex justify-content-left">
		<div class="col-md-8 col-lg-6 col-xl-4 ps-3">
			<div class="card" style="background-color: #eee; border-radius: 15px; overflow: hidden;">
				<div class="card-header d-flex justify-content-between align-items-center p-3"
					style="border-top: 4px solid green;">
					{% if url == 'group_chat' %}
						<h5 class="mb-0">
							<a href="{% url 'chats:group_users' chat.id %}">{{ chat.users.count }} members</a>
						</h5>
					{% endif %}
					<div class="btn-group" role="group">
						{% if url == 'group_chat' %}
							<button id="leave-group" class="btn btn-outline-success">Leave</button>
							{% if request.user == chat.owner %}
								<button id="clear-chat" class="btn btn-outline-success">Clear</button>
								<a href="{% url 'chats:edit_group' chat.id %}" 
									class="btn btn-outline-success">Settings</a>
							{% endif %}
						{% else %}
							<button id="clear-chat" class="btn btn-outline-success">Clear</button>
						{% endif %}
					</div>
				</div>
				<div id="msg" class="card-body" data-mdb-perfect-scrollbar="true" 
					style="position: relative; height: 400px; overflow-y: auto;">
					{% for message in messages %}
						{% if message.user == request.user %}
							<div id="message-time" class="d-flex justify-content-end">
								<p class="small mb-1 text-muted">{{ message.created_at }}</p>
							</div>
							<div id="message-info" class="d-flex flex-row justify-content-end mb-4 pt-1">
								<div>
									<p class="small p-2 me-3 mb-3 text-white rounded-3 bg-success" 
									style="word-wrap: break-word; max-width: 250px;">
										<span class="fw-bold">Me</span>
										<br>
										{% for file in message.files.all %}
											<a href="{{ file.file.url }}">
												<img src="{{ file.file.url }}" style="width:200px; height:100%">
											</a>
										{% endfor %}
										{{ message.content }}
									</p>
								</div>
								{% if message.user.avatar %}
									<img src="{{ message.user.avatar.url }}"
										alt="avatar 1" style="width: 45px; height:100%; border-radius: 20px;">
								{% else %}
									<img src="{% static 'users/img/user.png' %}"
										alt="avatar 1" style="width: 45px; height:100%; border-radius: 20px;">
								{% endif %}
							</div>
						{% else %}
							<div id="message-time" class="d-flex justify-content-start">
								<p class="small mb-1 text-muted">{{ message.created_at }}</p>
							</div>
							<div id="message-info" class="d-flex flex-row justify-content-start mb-4 pt-1">
								{% if message.user.avatar %}
									<img src="{{ message.user.avatar.url }}"
										alt="avatar 1" style="width: 45px; height:100%; border-radius: 20px;">
								{% else %}
									<img src="{% static 'users/img/user.png' %}"
										alt="avatar 1" style="width: 45px; height:100%; border-radius: 20px;">
								{% endif %}
								<div>
									<p class="small p-2 ms-3 mb-3 text-white rounded-3 bg-success" 
									style="word-wrap: break-word; max-width: 250px;">
										<span class="fw-bold">{{ message.user.username }}</span>
										<br>
										{% for file in message.files.all %}
											<a href="{{ file.file.url }}"><img src="{{ file.file.url }}" 
												style="width:200px; height:100%"></a>
										{% endfor %}
										{{ message.content }}
									</p>
								</div>
							</div>
						{% endif %}
					{% empty %}
						<p class="fw-bold">Send your first message</p>
					{% endfor %}
				</div>
				<div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
					<div class="input-group mb-0">
						<input id="message-input" type="text" class="form-control" placeholder="Type message"
							aria-label="Recipient's username" aria-describedby="message-sent" />
						<input type="file" class="form-control" id="customFile" accept="image/*" multiple/>
						<button class="btn btn-success" type="button" 
							id="message-sent" style="padding-top: .55rem;">
							Send
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		const owner = '{{ chat.owner.username }}'
		const url_name = '{{ url }}'
		const groups_url = "{% url 'chats:groups' %}"
		const chat_id = '{{ chat.id }}'
		let count_messages = '{{ messages.count }}'

		{% if request.user.avatar %}
			const avatar = '{{ request.user.avatar.url }}'
		{% else %}
			const avatar = "{% static 'users/images/user.png' %}"
		{% endif %}
	</script>
	<script src="{% static 'chats/js/chat.js' %}"></script>
{% endblock content %}