{% extends "base.html" %}
{% load static %}

{% block title %}Chats{% endblock title %}

{% block content %}
	{% for chat in chats %}
		<div class="card w-75 mb-3">
			<div class="card-body">
				<h5 class="card-title">{{ chat.receivers.0.username }}</h5>
				{% if chat.last_message %}
					<p class="card-text">
						{% if chat.last_message_user %}
							<b>{{ chat.last_message_user }}</b>: {{ chat.last_message }}</p>
						{% else %}
							<b>Me</b>: {{ chat.last_message }}</p>
						{% endif %}
				{% endif %}
				<a href="{% url 'chats:private_chat' chat.id %}" 
					class="btn btn-success">Send message</a>
			</div>
		</div>
	{% empty %}
		<div class="alert alert-info" role="alert">
			There is no any chat.
		</div>
	{% endfor %}
{% endblock content %}