{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Post{% endblock title %}

{% block content %}
	<div class="card" style="width: 22rem; border-radius: 20px; overflow: hidden;">
		{% if files.count == 1 %}
			{% with file=files.first.file %}
				{% if file.name|slice:"-4:" == ".mp4" %}
					<video class="playVideo" height="225" autoplay>
						<source src="{{ file.url }}" type="video/mp4">
					</video>
				{% else %}
					<img src="{{ file.url }}" class="d-block w-100" height="225">
				{% endif %}
			{% endwith %}
		{% else %}
			<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-inner">
					{% for file in files %}
						<div class="carousel-item {% if forloop.first %}active{% endif %}">
							{% if file.file.name|slice:"-4:" == ".mp4" %}
								<video class="playVideo" height="225" autoplay>
									<source src="{{ file.file.url }}" type="video/mp4">
								</video>
							{% else %}
								<img src="{{ file.file.url }}" class="d-block w-100" height="225">
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<button class="carousel-control-prev" type="button" 
					data-bs-target="#carouselExample" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" 
					data-bs-target="#carouselExample" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>
		{% endif %}
		<div class="card-body bg-dark">
			<p class="card-text text-light">
				<a class="link-underline link-underline-opacity-0" 
						href="{{ post.owner.get_absolute_url }}" >
						{{ post.owner }}
				</a>
				{% if post.description %}:{% endif %} {{ post.description }}
			</p>
			{% for tag in tags %}
				<a href="{% url 'blogs:tag_posts' tag.name %}">
						<p class="text-muted">#{{ tag.name }}</p>
				</a>
			{% endfor %}
			<p class="card-text text-light">Views: {{ total_views }}</p>  
			<p class="card-text text-light">
				{% if show_likes %}
					<span id="total_likes">{{ post.likes_count }}</span>
					likes  
				{% endif %}
			</p>
			{% if post.owner == request.user %}
				<form action="{% url 'blogs:delete_post' post.id %}" method="post">
					{% csrf_token %}
					<button class="btn btn-success">Delete</button>
				</form>
				<form action="{% url 'blogs:restore_post' post.id %}" method="post">
					{% csrf_token %}
					<button class="btn btn-success">Restore</button>
				</form>
			{% endif %}
			<p class="card-text mt-2"><small class="text-muted">{{ post.created_at }}</small></p>
		</div>
	</div>
	{% if show_comments %}
		<div class="row d-flex justify-content-start mt-4">
			<div class="col-md-12 col-lg-10 col-xl-6">
				<div class="card" style="border-radius: 20px; overflow: hidden;">
					<div class="card-body p-4 bg-dark">
						<h4 class="text-center mb-4 pb-2 text-light">Comments</h4>
						<div class="row">
							<div class="col">
								{% for comment in comments %}
									{% if comment.tree_depth == 0 %}
										<div class="d-flex flex-start comment-frame-{{ comment.id }}">
									{% else %}
										<div class="d-flex flex-start ms-5 comment-frame-{{ comment.id }}">
									{% endif %}
									{% if comment.owner.avatar %}
										<img class="rounded-circle shadow-1-strong me-3"
												src="{{ comment.owner.avatar.url }}" alt="avatar" width="65"
												height="65" />
									{% else %}
										<img class="rounded-circle shadow-1-strong me-3"
												src="{% static 'users/img/user.png' %}" alt="avatar" width="65"
												height="65" />
									{% endif %}
										<div class="flex-grow-1 flex-shrink-1">
											<div>
												<div class="d-flex justify-content-between align-items-center">
														<p class="mb-1 text-light">
															{{ comment.owner.username }} <span class="small text-muted">
																	{{ comment.created_at }}</span>
														</p>
												</div>
												<p class="small mb-0 text-light">{{ comment.text }}</p>
											</div>
											{% if comment.owner == request.user or post.owner == request.user %}
												<button id="comment-{{ comment.id }}" 
														type="button" 
														class="btn btn-success delete-comment">Delete
												</button>
											{% endif %}
										</div>
									</div>
								{% empty %}
									<div class="alert alert-info" role="alert">
										There is no any comment.
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock content %}