{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}Posts{% endblock title %}

{% block content %}
	<div class="accordion accordion mb-4" id="accordionFlushExample">
		<div class="accordion-item bg-dark">
			<h2 class="accordion-header">
				<button class="accordion-button collapsed bg-dark text-light" type="button" 
					data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" 
					aria-expanded="false" aria-controls="flush-collapseOne">
					Filters
				</button>
			</h2>
			{% if form %}
				<form action="{% url 'blogs:feed' %}">
					<div id="flush-collapseOne" class="accordion-collapse collapse" 
							data-bs-parent="#accordionFlushExample">
						<div class="accordion-body text-light">{{ form.as_p }}</div>
						<input type="submit" class="btn btn-success ms-3 mb-3">
					</div>
				</form>
			{% endif %}
		</div>
	</div>
	{% if posts %}
		<div class="row row-cols-1 row-cols-md-5 g-4">
			{% for post in posts %}
				<div class="col">
					<div class="card h-100" style="border-radius: 20px; overflow: hidden;">
						{% if url == 'archived' %}
							<a href="{% url 'blogs:archived_post' post.id %}">
						{% else %}
							<a href="{{ post.get_absolute_url }}">
						{% endif %}
							{% if post.file|slice:"-4:" == ".mp4" %}
								<video height="225">
									<source src="{{ post.file }}" type="video/mp4">
								</video>
							{% else %}
								<img class="card-img-top" src="{{ post.file }}" 
									alt="Card image cap" height="225">
							{% endif %}
						</a>
						<div class="card-body bg-dark">
							{% with owner=post.owner %}
								<p class="card-text">
									<a href="{{ owner.get_absolute_url }}">{{ owner.username }}</a>
								</p>
							{% endwith %}
							</p>
							<p class="card-text">
								<small class="text-muted">{{ post.created_at }}</small>
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				{% if page_obj.has_previous %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
					</li>
				{% endif %}
				{% for p in page_obj.paginator.page_range %}
					<li class="page-item">
						<a class="page-link" href="?page={{ p }}">{{ p }}</a>
					</li>
				{% endfor %}
				{% if page_obj.has_next %}
					<li class="page-item">
						<a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
					</li>
				{% endif %}
			</ul>
		</nav>
	{% else %}
		<div class="alert alert-info" role="alert">
			There is no any post.
		</div>
	{% endif %}
{% endblock content %}
